{% extends 'Core/Base.html' %}
{% block contenido %}

<a href="{% url 'agregarA' %}" class="floating-btn">
    <button class="custom-btn">Agregar Producto</button>
</a>
<p>Elementos de Aseo</p>
<section class="slots">
    {% for producto in productos %}
        <div class="producto-item">
            <p><strong>Nombre:</strong> {{ producto.nombre_insumo }}</p>
            <p><strong>Tipo:</strong> {{ producto.tipo_insumo }}</p>
            <p>
            <strong>Cantidad:</strong> {{ producto.cantidad_insumo }}
            <button class="slot__button" onclick="increaseValue('count1')">+</button>
            <button class="slot__button" onclick="decreaseValue('count1')">-</button>
            </p>
            <a href="{% url 'modificarA' id=producto.id_insumo %}" class="btn btn-info btn-sm">Modificar</a>
            <a href="{% url 'eliminarA' id=producto.id_insumo %}" class="btn btn-danger">Eliminar</a>
        </div>
    {% empty %}
        <p>No hay productos disponibles.</p>
    {% endfor %}
</section>

{% endblock %}